













#paragraph {
    color: white;
    font-size: larger;
    font-family: helvetica;
}
.logo-image {
    width: 100px;
}
.header {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#header {
    background-color: #298eab;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav {
    width: 100%;
}
.sign-up-page {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sign-up-form {
    text-align: center;
}
.video.page {
    height: 500px;
    background-color: black;
}
.background-image {
    height: 800px;
    background-image: url("https://images.unsplash.com/photo-1486428128344-5413e434ad35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

/* FOOTER */

/* main class for footer design*/
ul {
    list-style: none;
    padding-left: 0;
    }
    footer {
    background-color: #298eab;
    color: #bbb;
    line-height: 1.5;
    height: 300px;
    }
    footer a {
    text-decoration: none;
    color: #eee;
    }
    a:hover {
    text-decoration: underline;
    }
    .ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
    }
    body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }
    .container {
    flex: 1; 
    }
    
    .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
    }
    .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem ;
    }
    @media only screen and (min-width: 29.8125rem ) {
    .ft-main {
    justify-content: space-around;
    }
    }
    @media only screen and (min-width: 77.5rem  ) {
    .ft-main {
    justify-content: space-evenly;
    }
    }
    form {
    display: flex;
    flex-wrap: wrap;
    }
    input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
    }
    input[type="submit"] {
    background-color:  #29ab46;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
    }
  
    .ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px black solid; 
    padding-top: 1.25rem;
    }
    .ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
    }
    .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #29ab46;
    }
    .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    }
    .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
    }





















